#root, html, body {
  height: 100vh;
}

body {
  margin: 0;
  background:url('./images/fe026605b330d36bc0ca511ab9d636ee.jpg') rgba(0, 0, 0, 0.748);
  background-size: cover;
  background-blend-mode: multiply;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}